h1[b-90wqw7swo0] {
  font-size: calc(1.725rem + 5.7vw);
  font-weight: bold;
}
.social-media a[b-90wqw7swo0] {
  text-decoration: none;
  color: #495057;
}
.social-media a:hover[b-90wqw7swo0] {
  color: #bd5d38;
  border-color: #bd5d38;
}
