*[b-9xtb69jwpv] {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.info img[b-9xtb69jwpv] {
  border: 5px solid #f5bb89;
  margin-top: 100px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.navbar-nav[b-9xtb69jwpv] {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 100px;
  text-transform: uppercase;
  line-height: 3rem;
  .nav-item a {
    &:hover {
      color: #fff;
    }
    &.active[b-9xtb69jwpv] {
      color: #fff;
      font-weight: bold;
    }
  }
}
/* h1 {
  font-size:calc(1.725rem + 5.7vw);
  font-weight: bold;
}
.social-media a {
  text-decoration: none;
  color: #495057;
}
.social-media a:hover {
  color: #bd5d38;
  border-color: #bd5d38;
} */
