@page "/about"
@layout HomeMasterPage
<!--Main content-->
<div class="container" style="margin-top: 150px;">
    <h1 class="ms-4">CLARENCE <span style="color: rgb(189, 93, 56);">TAYLOR</span></h1>
    <div class="ms-4 mb-4 text-uppercase fs-4">
        3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 ·
        <a class="text-decoration-underline" href="mailto:name@email.com" style="color: #bd5d38;">name@email.com</a>
    </div>
    <p class="ms-4 mb-4 fs-5" style="color:#495057 ;">I am experienced in leveraging agile frameworks to provide a
        robust synopsis for high
        level
        overviews.
        Iterative approaches to corporate strategy foster collaborative thinking to further the overall value
        proposition.
    </p>
    <div class="social-media ms-4 d-flex gap-4">
        <a href="#!"><i class="fab fa-linkedin-in fa-3x"></i></a>
        <a href="#!"><i class="fab fa-github fa-3x"></i></a>
        <a href="#!"><i class="fab fa-twitter fa-3x"></i></a>
        <a href="#!"><i class="fab fa-facebook-f fa-3x"></i></a>
    </div>
</div>
