@page "/awards"
@layout HomeMasterPage
<div class="container" style="margin-top: 150px;">
    <h1 class="mb-5 text-uppercase fw-bold" style="font-size: calc(1.475rem + 2.7vw);">Awards & Certifications</h1>
    <ul class="list-unstyled text-muted fs-5">
        <li><i class="fa-solid fa-trophy me-3" style="color: #FFD43B;"></i>Google Analytics Certified Developer
        </li>
        <li><i class="fa-solid fa-trophy me-3" style="color: #FFD43B;"></i>Mobile Web Specialist - Google Certification
        </li>
        <li><i class="fa-solid fa-trophy me-3" style="color: #FFD43B;"></i>1 st Place - University of Colorado Boulder -
            Emerging Tech Competition 2009</li>
        <li><i class="fa-solid fa-trophy me-3" style="color: #FFD43B;"></i>1 st Place - University of Colorado Boulder -
            Adobe Creative Jam 2008 (UI Design Category)</li>
        <li><i class="fa-solid fa-trophy me-3" style="color: #FFD43B;"></i>2 nd Place - University of Colorado Boulder -
            Emerging Tech Competition 2008</li>
        <li><i class="fa-solid fa-trophy me-3" style="color: #FFD43B;"></i>1 st Place - James Buchanan High School -
            Hackathon 2006</li>
        <li><i class="fa-solid fa-trophy me-3" style="color: #FFD43B;"></i>3 rd Place - James Buchanan High School -
            Hackathon 2005</li>
    </ul>
</div>
