@page "/experience"
@layout HomeMasterPage

<div class="container mt-5">
    <h1 class="mb-5 fw-bold" style="font-size: calc(1.475rem + 2.7vw);">Experience</h1>
    <div class="d-flex justify-content-between align-items-start mb-3">
        <div>
            <h2 class="fw-bold mb-1">Senior Web Developer</h2>
            <h3 class="text-muted mb-3">Intelitec Solutions</h3>
        </div>
        <p class="text-danger fw-bold">March 2013 - Present</p>
    </div>
    <p class="text-muted">
        Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going
        forward,
        a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution.
        User generated content in real-time will have multiple touchpoints for offshoring.
    </p>
    <div class="d-flex justify-content-between align-items-start mb-3 mt-5">
        <div>
            <h2 class="fw-bold mb-1">Web Developer</h2>
            <h3 class="text-muted mb-3">Intelitec Solutions</h3>
        </div>
        <p class="text-danger fw-bold">December 2011 - March 2013</p>
    </div>
    <p class="text-muted">
        Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital
        divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will
        close the loop on focusing solely on the bottom line.
    </p>
    <div class="d-flex justify-content-between align-items-start mb-3 mt-5">
        <div>
            <h2 class="fw-bold mb-1">Junior Web Designer</h2>
            <h3 class="text-muted mb-3">Shout! Media Productions</h3>
        </div>
        <p class="text-danger fw-bold">July 2010 - December 2011</p>
    </div>
    <p class="text-muted">
        Podcasting operational change management inside of workflows to establish a framework. Taking seamless key
        performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep
        dive on the start-up mentality to derive convergence on cross-platform integration.
    </p>

    <div class="d-flex justify-content-between align-items-start mb-3 mt-5">
        <div>
            <h2 class="fw-bold mb-1">Web Design Intern</h2>
            <h3 class="text-muted mb-3">Shout! Media Productions</h3>
        </div>
        <p class="text-danger fw-bold">September 2008 - June 2010</p>
    </div>
    <p class="text-muted">
        Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users
        after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
    </p>
</div>
