@page "/skills"
@layout HomeMasterPage
<div class="container mt-5">
    <h1 class="mb-5 text-uppercase fw-bold" style="font-size: calc(1.475rem + 2.7vw);">skills</h1>
    <h3 class="text-muted">Programming Languages & Tools</h3>
    <ul class="list-inline dev-icons d-flex gap-3 my-4" style="opacity: 0.5;">
        <li class="list-inline-item"><i class="fab fa-html5 fa-3x"></i></li>
        <li class="list-inline-item"><i class="fab fa-js-square fa-3x"></i></li>
        <li class="list-inline-item"><i class="fab fa-angular fa-3x"></i></li>
        <li class="list-inline-item"><i class="fab fa-react fa-3x"></i></li>
        <li class="list-inline-item"><i class="fab fa-node-js fa-3x"></i></li>
        <li class="list-inline-item"><i class="fab fa-sass fa-3x"></i></li>
        <li class="list-inline-item"><i class="fab fa-less fa-3x"></i></li>
        <li class="list-inline-item"><i class="fab fa-wordpress fa-3x"></i></li>
        <li class="list-inline-item"><i class="fab fa-gulp fa-3x"></i></li>
        <li class="list-inline-item"><i class="fab fa-grunt fa-3x"></i></li>
        <li class="list-inline-item"><i class="fab fa-npm fa-3x"></i></li>
    </ul>
    <h3 class="mt-3 text-muted">Workflow</h3>
    <ul class="list-unstyled ms-3 fs-5">
        <li>&#10003; Moblie-First, Reponsive Design </li>
        <li> &#10003;Cross Browser Testing & Debugging </li>
        <li> &#10003;Cross Functional Teams </li>
        <li> &#10003;Agile Development & Scrum </li>
    </ul>
</div>