@inherits LayoutComponentBase
<div class="container-fluid d-flex p-0" style="height: 100vh;">
    <div class="info w-25 d-flex flex-column align-items-center" style="background-color: #bd5d38; color: #d1d0cd;">
        <HeaderHome />
    </div>

    <div class="content w-75" style="background-color: #f8f9fa; padding: 20px;">
        @Body
    </div>
</div>
